.note-box {
  width: 80%;
  border: 1px solid black;
  border-radius: var(--radius-extra-large);
  padding: 0.5rem 1rem;
}

.note-box input[type="text"],
.note-box .note-title {
  padding: 1rem 0;
  outline: none;
  font-size: 1.2rem;
  border: none;
  background-color: inherit;
  margin-bottom: 0.5rem;
  font-weight: var(--weight-bold);
}

.note-box textarea {
  outline: none;
  border: none;
  background-color: inherit;
  overflow-y: scroll;
  resize: none;
  height: 3rem;
  font-size: 1rem;
}

.note-box .note-text {
  font-size: 1rem;
}

.note-box i {
  border-radius: var(--radius-rounded);
  padding: 0.3rem;
}

.note-box i:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.note-box .menu-box {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 0.9rem;
  padding: 1rem;
  width: 12rem;
  background-color: var(--light-primary-color);
  border-radius: var(--radius);
  z-index: 2;
}

.note-box .menu-box input[type="text"] {
  font-size: 0.9rem;
}

.note-box .menu-box .avatar-sm {
  height: 1.5rem;
  width: 1.5rem;
}
