.navbar {
  background-color: var(--pure-white);
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.nav-logo img {
  height: 2rem;
  width: 2rem;
}

.nav-heading {
  font-family: var(--title-font-family);
}

.nav-actions {
  color: var(--secondary-color);
  align-items: center;
  font-size: 0.75rem;
}

.navbar .input {
  align-self: center;
  width: 30%;
  border-radius: 1rem;
}

@media screen and (max-width: 768px) {
  .navbar #hamburger {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .nav-actions .nav-action-item:not(:last-child) {
    display: none;
  }
}
